Fossil Fuel Power Plants vs Renewable Power Plants

Comparing environmental(AQI), health (Chronic Resp) and economic data (CAINC1) by county.



- Compare Towns with Nuclear vs Towns without Nuclear
- Compare Towns with renewables within themselves
- Compare Towns with a power plant vs the rest of the state

Compare years 2000 and 2010

In [1]:
import pandas as pd

In [12]:
pp_df = pd.read_csv("data/Power_Plants.csv")
resp_df = pd.read_excel("data/RESP_DISEASE_MORTALITY_1980_2014.XLSX",header=1) 
pp_df.columns
resp_df

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
0,United States,NaN,"40.79 (39.80, 41.77)","42.99 (42.10, 43.90)","44.94 (44.08, 45.93)","50.07 (48.98, 51.23)","54.56 (53.34, 55.74)","54.58 (53.39, 55.85)","52.92 (51.72, 54.16)","52.92 (51.60, 54.36)","29.73 (25.47, 33.83)"
1,Alabama,1.0,"42.43 (41.22, 43.60)","46.29 (45.24, 47.34)","49.95 (48.86, 51.12)","57.00 (55.78, 58.36)","65.65 (64.23, 67.09)","69.21 (67.66, 70.75)","70.86 (69.27, 72.46)","73.44 (71.54, 75.49)","73.08 (67.09, 79.45)"
2,"Autauga County, Alabama",1001.0,"46.56 (42.86, 50.68)","50.68 (47.16, 54.42)","55.55 (52.19, 59.07)","63.21 (59.85, 66.62)","71.77 (68.27, 75.56)","77.13 (73.44, 81.17)","77.75 (73.63, 81.85)","81.79 (77.37, 86.77)","75.67 (58.34, 95.40)"
3,"Baldwin County, Alabama",1003.0,"37.15 (34.89, 39.40)","39.46 (37.38, 41.68)","42.97 (40.88, 45.19)","48.15 (46.05, 50.62)","52.07 (49.85, 54.48)","52.56 (50.47, 54.77)","55.12 (52.87, 57.56)","54.28 (51.92, 56.65)","46.10 (35.48, 59.57)"
4,"Barbour County, Alabama",1005.0,"42.84 (39.76, 46.26)","46.78 (43.78, 50.05)","50.05 (47.18, 53.20)","57.07 (54.07, 60.08)","65.19 (61.87, 68.69)","66.93 (63.11, 70.52)","67.52 (63.26, 71.55)","69.82 (65.35, 74.56)","62.98 (47.20, 80.68)"
...,...,...,...,...,...,...,...,...,...,...,...
3191,"Uinta County, Wyoming",56041.0,"57.57 (52.19, 63.54)","58.47 (53.93, 63.41)","60.67 (56.51, 65.07)","69.25 (65.25, 73.71)","77.74 (73.01, 82.62)","80.42 (75.38, 85.52)","79.49 (74.05, 84.93)","81.51 (75.41, 87.51)","41.57 (23.92, 61.69)"
3192,"Washakie County, Wyoming",56043.0,"51.20 (46.79, 55.82)","52.67 (48.57, 56.84)","54.01 (50.40, 57.86)","58.99 (55.35, 62.90)","64.44 (60.32, 68.79)","63.50 (59.01, 67.74)","59.57 (55.40, 64.17)","59.36 (54.71, 64.38)","15.92 (1.90, 32.04)"
3193,"Weston County, Wyoming",56045.0,"67.66 (61.43, 74.17)","68.27 (63.05, 73.61)","68.94 (63.93, 73.67)","76.43 (71.63, 81.45)","83.64 (78.48, 89.36)","85.91 (80.65, 91.88)","81.11 (75.64, 87.37)","81.68 (75.06, 88.75)","20.73 (7.64, 36.59)"
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,*Age-standardized mortality rate for both sexe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN