
Identify the Goal, Metrics(KPI), Audience,

1. Problem Statement
1. Stakeholders

Parameters, Descriptions, Criteria

What visualizations do I need? How should information be presented?


Data: https://www.kaggle.com/datasets/jmullan/agricultural-land-values-19972017?select=Combined+Data+-+Pasture.csv

See if you can find the same granularity data for crop yields so that more comparison can be made and a yield/value metric can be extracted.

Problem Statement:
Does higher land value mean higher yield?  What are the trends for the two key metrics over time? Which regions, landuses, and states have the highest values, yields and values/yields. Show land value and crop yield at starting year, middle year and last available year on a map visual.

Agri Value by year
Agri Yield by year


^ Is this scope creep? It doesn't feel like just using the value would be enough for a compelling SQL DB structure, PBI dashboard or data story compared to the interplay between the value of the land, yield, and type of crop.


1. Set up SQL DB **
1. Load unclean land value data and use Python to clean data **
1. Load unclean crop production data and use Python to clean data **
1. Populate SQL DB with 2 tables, one for landval and one for cropprod **
1. Join tables into view and use to pull into Dashboard
1. Use data to create visuals that visualize the relationship between the data and answer the questions in the problem statements.

## SQL DB Creation

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
sqlite:///agri_landval.db

In [ ]:
%%sql
create table agricultural_landvalue(State varchar, Region varchar, [Land Use] varchar, Year int, Acre_Value float);

 * sqlite:///agri_landval.db
   sqlite:///test.db
Done.

[]

## Land Value

In [ ]:
# Load Data into SQL
import sqlite3
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
conn = sqlite3.connect('agri_landval.db')

In [ ]:
cropland_df = pd.read_csv('Combined Data - Cropland.csv', header = 4)
cropland_df.drop(columns = ['2','h','2016-2017'],index=[0,1],inplace=True)
cropland_df.replace('[1234567890]/', '', regex=True,inplace=True)
cropland_df.dropna(inplace=True)
cropland_df.reset_index(drop=True,inplace=True)


farmre_df = pd.read_csv('Combined Data - Farm Real Estate.csv',header=4,encoding_errors = 'replace')
farmre_df.drop(columns = ['1','h','2016-2017'],index=[0,1],inplace=True)
farmre_df.replace('[1234567890]/', '', regex=True,inplace=True)
farmre_df.dropna(inplace=True)
farmre_df.reset_index(drop=True,inplace=True)


pasture_df = pd.read_csv('Combined Data - Pasture.csv',header=4)
pasture_df.drop(columns = ['5','h','2016-2017'],index=[0,1],inplace=True)
pasture_df.replace('[1234567890]/', '', regex=True,inplace=True)
pasture_df.dropna(inplace=True)
pasture_df.reset_index(drop=True,inplace=True)

REGIONS= ("Northeast", "Lake", "Corn Belt", "Northern Plains", "Appalachian", "Southeast", "Delta", "Southern Plains", "Mountain", "Pacific")

In [ ]:


cropland_reg = cropland_df[cropland_df['Region and state'].isin(REGIONS)]
farmre_reg = farmre_df[farmre_df['Region and state'].isin(REGIONS)]
pasture_reg = pasture_df[pasture_df['Region and State'].isin(REGIONS)]


# cropland_dict = {}
# farmre_dict = {}
# pasture_dict = {}


# for i in REGIONS:
#   cropland_dict[i] = cropland_reg[cropland_reg['Region and state'] == i].index.values[0]
#   farmre_dict[i] = farmre_reg[farmre_reg['Region and state'] == i].index.values[0]
#   pasture_dict[i] = pasture_reg[pasture_reg['Region and State'] == i].index.values[0]

# cropland_list = list(cropland_dict.values())
# farmre_list = list(farmre_dict.values())
# pasture_list = list(pasture_dict.values())

cropland_list = list(cropland_reg.index)
farmre_list = list(farmre_reg.index)
pasture_list = list(pasture_reg.index)


cropland_list.append(cropland_df.shape[0])
farmre_list.append(farmre_df.shape[0])
pasture_list.append(pasture_df.shape[0])

cropland_idx_dict = {}
farmre_idx_dict = {}
pasture_idx_dict = {}

for i in range(0,len(cropland_list)-1):
  cropland_idx_dict[REGIONS[i]] = [cropland_list[i]+1,cropland_list[i+1]]

for i in range(0,len(farmre_list)-1):
  farmre_idx_dict[REGIONS[i]] = [farmre_list[i]+1,farmre_list[i+1]]

for i in range(0,len(pasture_list)-1):
  pasture_idx_dict[REGIONS[i]] = [pasture_list[i]+1,pasture_list[i+1]]

cropland_df.rename(columns={'Region and state':'State'},inplace=True)
cropland_df['Region'] = ''
for i in cropland_idx_dict.keys():
  cropland_df.loc[cropland_idx_dict[i][0]:cropland_idx_dict[i][1], 'Region'] = i
cropland_df.drop(index=cropland_list[:-1],inplace=True)
cropland_df.drop(index=[53],inplace=True)
cropland_df.reset_index(drop=True,inplace=True)
cropland = pd.melt(cropland_df,id_vars=['State','Region'],var_name='Year',value_name='Acre Value')
cropland['Acre Value'] = pd.to_numeric(cropland['Acre Value'],errors='coerce')
cropland.dropna(inplace=True)
cropland['Land Use'] = 'Cropland'
cropland.reset_index(drop=True,inplace=True)

farmre_df.rename(columns={'Region and state':'State'},inplace=True)
farmre_df['Region'] = ''
for i in farmre_idx_dict.keys():
  farmre_df.loc[farmre_idx_dict[i][0]:farmre_idx_dict[i][1], 'Region'] = i

farmre_df.drop(index=farmre_list[:-1],inplace=True)
farmre_df.drop(index=[58],inplace=True)
farmre_df.reset_index(drop=True,inplace=True)
farmre = pd.melt(farmre_df,id_vars=['State','Region'],var_name='Year',value_name='Acre Value')
farmre['Acre Value'] = pd.to_numeric(farmre['Acre Value'],errors='coerce')
farmre.dropna(inplace=True)
farmre['Land Use'] = 'Farm Real Estate'
farmre.reset_index(drop=True,inplace=True)

pasture_df.rename(columns={'Region and State':'State'},inplace=True)
pasture_df['Region'] = ''
for i in pasture_idx_dict.keys():
  pasture_df.loc[pasture_idx_dict[i][0]:pasture_idx_dict[i][1], 'Region'] = i

pasture_df.drop(index=pasture_list[:-1],inplace=True)
pasture_df.drop(index=[52],inplace=True)
pasture_df.reset_index(drop=True,inplace=True)
pasture = pd.melt(pasture_df,id_vars=['State','Region'],var_name='Year',value_name='Acre Value')
pasture['Acre Value'] = pd.to_numeric(pasture['Acre Value'],errors='coerce')
pasture.dropna(inplace=True)
pasture['Land Use'] = 'Pasture'
pasture.reset_index(drop=True,inplace=True)

df = pd.concat([cropland,farmre,pasture],ignore_index=True)

In [ ]:
df.to_sql('agricultural_landvalue',conn,if_exists='replace',index=False)

2765

In [ ]:
%%sql
select * from agricultural_landvalue LIMIT 100;

 * sqlite:///agri_landval.db
   sqlite:///test.db
Done.

[('  Delaware', 'Northeast', '1997', 2500.0, 'Cropland'),
 ('  Maryland', 'Northeast', '1997', 3050.0, 'Cropland'),
 ('  New Jersey', 'Northeast', '1997', 8500.0, 'Cropland'),
 ('  New York', 'Northeast', '1997', 1020.0, 'Cropland'),
 ('  Pennsylvania', 'Northeast', '1997', 2650.0, 'Cropland'),
 ('  Other States ', 'Northeast', '1997', 4260.0, 'Cropland'),
 ('  Michigan', 'Lake', '1997', 1360.0, 'Cropland'),
 ('  Minnesota', 'Lake', '1997', 1090.0, 'Cropland'),
 ('  Wisconsin', 'Lake', '1997', 1040.0, 'Cropland'),
 ('  Illinois', 'Corn Belt', '1997', 2070.0, 'Cropland'),
 ('  Indiana', 'Corn Belt', '1997', 1900.0, 'Cropland'),
 ('  Iowa', 'Corn Belt', '1997', 1700.0, 'Cropland'),
 ('  Missouri', 'Corn Belt', '1997', 1040.0, 'Cropland'),
 ('  Ohio', 'Corn Belt', '1997', 1990.0, 'Cropland'),
 ('  Kansas', 'Northern Plains', '1997', 649.0, 'Cropland'),
 ('  Nebraska', 'Northern Plains', '1997', 1020.0, 'Cropland'),
 ('  North Dakota', 'Northern Plains', '1997', 427.0, 'Cropland'),
 ('  South Dakota', 'Northern Plains', '1997', 456.0, 'Cropland'),
 ('  Kentucky', 'Appalachian', '1997', 1500.0, 'Cropland'),
 ('  North Carolina', 'Appalachian', '1997', 1880.0, 'Cropland'),
 ('  Tennessee', 'Appalachian', '1997', 1830.0, 'Cropland'),
 ('  Virginia', 'Appalachian', '1997', 1820.0, 'Cropland'),
 ('  West Virginia', 'Appalachian', '1997', 1540.0, 'Cropland'),
 ('  Alabama', 'Southeast', '1997', 1200.0, 'Cropland'),
 ('  Florida', 'Southeast', '1997', 3280.0, 'Cropland'),
 ('  Georgia', 'Southeast', '1997', 1060.0, 'Cropland'),
 ('  South Carolina', 'Southeast', '1997', 1090.0, 'Cropland'),
 ('  Arkansas', 'Delta', '1997', 968.0, 'Cropland'),
 ('  Louisiana', 'Delta', '1997', 1080.0, 'Cropland'),
 ('  Mississippi', 'Delta', '1997', 821.0, 'Cropland'),
 ('  Oklahoma', 'Southern Plains', '1997', 553.0, 'Cropland'),
 ('  Texas', 'Southern Plains', '1997', 674.0, 'Cropland'),
 ('  Arizona ', 'Mountain', '1997', 3700.0, 'Cropland'),
 ('  Colorado', 'Mountain', '1997', 772.0, 'Cropland'),
 ('  Idaho', 'Mountain', '1997', 1320.0, 'Cropland'),
 ('  Montana', 'Mountain', '1997', 458.0, 'Cropland'),
 ('  Nevada ', 'Mountain', '1997', 1700.0, 'Cropland'),
 ('  New Mexico ', 'Mountain', '1997', 1330.0, 'Cropland'),
 ('  Utah ', 'Mountain', '1997', 2300.0, 'Cropland'),
 ('  Wyoming', 'Mountain', '1997', 744.0, 'Cropland'),
 ('  California', 'Pacific', '1997', 5080.0, 'Cropland'),
 ('  Oregon', 'Pacific', '1997', 1430.0, 'Cropland'),
 ('  Washington', 'Pacific', '1997', 1340.0, 'Cropland'),
 ('  Delaware', 'Northeast', '1998', 2620.0, 'Cropland'),
 ('  Maryland', 'Northeast', '1998', 3100.0, 'Cropland'),
 ('  New Jersey', 'Northeast', '1998', 8000.0, 'Cropland'),
 ('  New York', 'Northeast', '1998', 1040.0, 'Cropland'),
 ('  Pennsylvania', 'Northeast', '1998', 2740.0, 'Cropland'),
 ('  Other States ', 'Northeast', '1998', 4290.0, 'Cropland'),
 ('  Michigan', 'Lake', '1998', 1480.0, 'Cropland'),
 ('  Minnesota', 'Lake', '1998', 1160.0, 'Cropland'),
 ('  Wisconsin', 'Lake', '1998', 1130.0, 'Cropland'),
 ('  Illinois', 'Corn Belt', '1998', 2240.0, 'Cropland'),
 ('  Indiana', 'Corn Belt', '1998', 2100.0, 'Cropland'),
 ('  Iowa', 'Corn Belt', '1998', 1860.0, 'Cropland'),
 ('  Missouri', 'Corn Belt', '1998', 1130.0, 'Cropland'),
 ('  Ohio', 'Corn Belt', '1998', 2150.0, 'Cropland'),
 ('  Kansas', 'Northern Plains', '1998', 655.0, 'Cropland'),
 ('  Nebraska', 'Northern Plains', '1998', 1040.0, 'Cropland'),
 ('  North Dakota', 'Northern Plains', '1998', 440.0, 'Cropland'),
 ('  South Dakota', 'Northern Plains', '1998', 480.0, 'Cropland'),
 ('  Kentucky', 'Appalachian', '1998', 1620.0, 'Cropland'),
 ('  North Carolina', 'Appalachian', '1998', 1950.0, 'Cropland'),
 ('  Tennessee', 'Appalachian', '1998', 1970.0, 'Cropland'),
 ('  Virginia', 'Appalachian', '1998', 1880.0, 'Cropland'),
 ('  West Virginia', 'Appalachian', '1998', 1600.0, 'Cropland'),
 ('  Alabama', 'Southeast', '1998', 1260.0, 'Cropland'),
 ('  Florida', 'Southeast', '1998', 3230.0, 'Cropland'),
 ('  Georgia', 'Southeast', '1998', 1140.0, 'Cropland'),
 ('  South Carolina', 'Southeast', '1998', 1160.0, 'Cropland'),
 ('  Arkansas', 'Delta', '1998', 1030.0, 'Cropland'),
 ('  Louisiana', 'Delta', '1998', 1060.0, 'Cropland'),
 ('  Mississippi', 'Delta', '1998', 878.0, 'Cropland'),
 ('  Oklahoma', 'Southern Plains', '1998', 577.0, 'Cropland'),
 ('  Texas', 'Southern Plains', '1998', 701.0, 'Cropland'),
 ('  Arizona ', 'Mountain', '1998', 3800.0, 'Cropland'),
 ('  Colorado', 'Mountain', '1998', 809.0, 'Cropland'),
 ('  Idaho', 'Mountain', '1998', 1370.0, 'Cropland'),
 ('  Montana', 'Mountain', '1998', 463.0, 'Cropland'),
 ('  Nevada ', 'Mountain', '1998', 1850.0, 'Cropland'),
 ('  New Mexico ', 'Mountain', '1998', 1380.0, 'Cropland'),
 ('  Utah ', 'Mountain', '1998', 2390.0, 'Cropland'),
 ('  Wyoming', 'Mountain', '1998', 777.0, 'Cropland'),
 ('  California', 'Pacific', '1998', 5260.0, 'Cropland'),
 ('  Oregon', 'Pacific', '1998', 1430.0, 'Cropland'),
 ('  Washington', 'Pacific', '1998', 1430.0, 'Cropland'),
 ('  Delaware', 'Northeast', '1999', 2700.0, 'Cropland'),
 ('  Maryland', 'Northeast', '1999', 3200.0, 'Cropland'),
 ('  New Jersey', 'Northeast', '1999', 7800.0, 'Cropland'),
 ('  New York', 'Northeast', '1999', 1100.0, 'Cropland'),
 ('  Pennsylvania', 'Northeast', '1999', 2870.0, 'Cropland'),
 ('  Other States ', 'Northeast', '1999', 4360.0, 'Cropland'),
 ('  Michigan', 'Lake', '1999', 1670.0, 'Cropland'),
 ('  Minnesota', 'Lake', '1999', 1230.0, 'Cropland'),
 ('  Wisconsin', 'Lake', '1999', 1300.0, 'Cropland'),
 ('  Illinois', 'Corn Belt', '1999', 2370.0, 'Cropland'),
 ('  Indiana', 'Corn Belt', '1999', 2270.0, 'Cropland'),
 ('  Iowa', 'Corn Belt', '1999', 1930.0, 'Cropland'),
 ('  Missouri', 'Corn Belt', '1999', 1190.0, 'Cropland'),
 ('  Ohio', 'Corn Belt', '1999', 2350.0, 'Cropland')]

## Crop Production

In [ ]:
cropprod_df = pd.read_csv('Crop Production in $.csv')
cropprod_df.head()
cropprod_df = cropprod_df[['Year','State','Value']]
cropprod_df['Value'] = cropprod_df['Value'].str.replace(',','')


cropprod_df['Value'] = pd.to_numeric(cropprod_df['Value'], errors='coerce')
cropprod_df.dropna(inplace=True)
cropprod_df['Value'] = cropprod_df['Value'].astype(int)
cropprod_df.reset_index(drop=True,inplace=True)
cropprod_df.rename(columns={'Value':'Crop Yield'},inplace=True)
cropprod_df.head()
cropprod_df.to_sql('crop_production',conn,if_exists='replace',index=False)

528

In [ ]:
%%sql
SELECT * FROM crop_production LIMIT 100;

 * sqlite:///agri_landval.db
   sqlite:///test.db
Done.

[(2017, 'ALABAMA', 1043656000),
 (2017, 'ARIZONA', 2576661000),
 (2017, 'ARKANSAS', 3819332000),
 (2017, 'CALIFORNIA', 33466945000),
 (2017, 'CONNECTICUT', 38583000),
 (2017, 'FLORIDA', 3860095000),
 (2017, 'GEORGIA', 2988429000),
 (2017, 'HAWAII', 117220000),
 (2017, 'IDAHO', 3028601000),
 (2017, 'ILLINOIS', 13891611000),
 (2017, 'INDIANA', 6844995000),
 (2017, 'IOWA', 14243839000),
 (2017, 'KANSAS', 6618596000),
 (2017, 'KENTUCKY', 2925760000),
 (2017, 'LOUISIANA', 1970705000),
 (2017, 'MAINE', 252112000),
 (2017, 'MASSACHUSETTS', 101104000),
 (2017, 'MICHIGAN', 3669815000),
 (2017, 'MINNESOTA', 10069272000),
 (2017, 'MISSISSIPPI', 2382251000),
 (2017, 'MISSOURI', 5895255000),
 (2017, 'MONTANA', 1888119000),
 (2017, 'NEBRASKA', 9641009000),
 (2017, 'NEVADA', 226561000),
 (2017, 'NEW HAMPSHIRE', 17040000),
 (2017, 'NEW JERSEY', 472279000),
 (2017, 'NEW MEXICO', 647185000),
 (2017, 'NEW YORK', 1701224000),
 (2017, 'NORTH CAROLINA', 3162348000),
 (2017, 'NORTH DAKOTA', 6874196000),
 (2017, 'OHIO', 5084587000),
 (2017, 'OKLAHOMA', 1699571000),
 (2017, 'PENNSYLVANIA', 2415510000),
 (2017, 'RHODE ISLAND', 1650000),
 (2017, 'SOUTH DAKOTA', 5388529000),
 (2017, 'TENNESSEE', 2210339000),
 (2017, 'TEXAS', 7351608000),
 (2017, 'UTAH', 422073000),
 (2017, 'VERMONT', 125033000),
 (2017, 'VIRGINIA', 1190273000),
 (2017, 'WASHINGTON', 6733639000),
 (2017, 'WEST VIRGINIA', 179414000),
 (2017, 'WYOMING', 481089000),
 (2016, 'ALABAMA', 923012000),
 (2016, 'ARIZONA', 2147715000),
 (2016, 'ARKANSAS', 3561931000),
 (2016, 'CALIFORNIA', 31382226000),
 (2016, 'CONNECTICUT', 27458000),
 (2016, 'FLORIDA', 3901138000),
 (2016, 'GEORGIA', 2730761000),
 (2016, 'HAWAII', 164782000),
 (2016, 'IDAHO', 3083809000),
 (2016, 'ILLINOIS', 14069300000),
 (2016, 'INDIANA', 7047403000),
 (2016, 'IOWA', 14630968000),
 (2016, 'KANSAS', 6806668000),
 (2016, 'KENTUCKY', 2809739000),
 (2016, 'LOUISIANA', 1784651000),
 (2016, 'MAINE', 277955000),
 (2016, 'MARYLAND', 702913000),
 (2016, 'MASSACHUSETTS', 109941000),
 (2016, 'MICHIGAN', 3926839000),
 (2016, 'MINNESOTA', 10106232000),
 (2016, 'MISSISSIPPI', 2252584000),
 (2016, 'MISSOURI', 5695500000),
 (2016, 'MONTANA', 2392936000),
 (2016, 'NEBRASKA', 9461748000),
 (2016, 'NEVADA', 172307000),
 (2016, 'NEW HAMPSHIRE', 28965000),
 (2016, 'NEW JERSEY', 431876000),
 (2016, 'NEW MEXICO', 620500000),
 (2016, 'NEW YORK', 1674794000),
 (2016, 'NORTH CAROLINA', 2817448000),
 (2016, 'NORTH DAKOTA', 7559528000),
 (2016, 'OHIO', 5126432000),
 (2016, 'OKLAHOMA', 1583766000),
 (2016, 'PENNSYLVANIA', 2214898000),
 (2016, 'RHODE ISLAND', 1458000),
 (2016, 'SOUTH CAROLINA', 708183000),
 (2016, 'SOUTH DAKOTA', 6040214000),
 (2016, 'TENNESSEE', 2121694000),
 (2016, 'TEXAS', 7253104000),
 (2016, 'UTAH', 407011000),
 (2016, 'VERMONT', 126019000),
 (2016, 'WASHINGTON', 6794910000),
 (2016, 'WEST VIRGINIA', 180600000),
 (2016, 'WYOMING', 404659000),
 (2015, 'ALABAMA', 1005733000),
 (2015, 'ARIZONA', 1942539000),
 (2015, 'ARKANSAS', 3602502000),
 (2015, 'CALIFORNIA', 31272380000),
 (2015, 'COLORADO', 2142134000),
 (2015, 'CONNECTICUT', 77376000),
 (2015, 'DELAWARE', 271590000),
 (2015, 'FLORIDA', 4128446000),
 (2015, 'GEORGIA', 2888688000),
 (2015, 'HAWAII', 163147000),
 (2015, 'IDAHO', 3141128000),
 (2015, 'ILLINOIS', 12864922000),
 (2015, 'INDIANA', 6150603000)]